@import "../../styles/mixins";

:host {
  display: flex;
  justify-content: center;
  align-items: center;

  .cart {
    &-shopping-content {
      display: flex;
      flex-direction: column;
      max-height: calc(100vh - 164px);
      overflow-y: auto;

      @include custom-scrollbar(rgba(#589CA6, 0.5), 6px);
    }

    &-no-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
    }
  }
}
