@import "../../styles/mixins";

.dialog-container {
  .mat-mdc-dialog-content {
    .description {
      font-size: 18px;
      margin: 20px;
    }

    .comments {
      height: 300px;
      overflow-y: scroll;
      font-size: 14px;

      @include custom-scrollbar(rgba(#589CA6, 0.5), 6px);

      .comment {
        margin: 20px;
        padding: 20px;
        border-radius: 4px;
        background: #746b78;
      }
    }
  }

  .mat-mdc-dialog-actions {
    display: flex;
    justify-content: space-between;

    .add {
      background: yellowgreen;
      color: black;
    }
  }
}
