@import "../../styles/colors";

.price-filters {
  display: flex;
  flex-direction: column;
  width: 200px;

  ::ng-deep {
    .mdc-label {
      color: $green-1;
    }

    --mdc-checkbox-unselected-icon-color: #045560 !important;
    --mdc-checkbox-unselected-focus-icon-color: #045560 !important;
    --mdc-checkbox-unselected-focus-state-layer-opacity: 0 !important;
    --mdc-checkbox-unselected-hover-icon-color: #fff !important;
    --mdc-checkbox-unselected-pressed-state-layer-color: #fff !important;

    --mdc-checkbox-selected-icon-color: #fff !important;
    --mdc-checkbox-selected-hover-icon-color: #fff !important;
    --mdc-checkbox-selected-pressed-icon-color: #fff !important;
    --mdc-checkbox-selected-pressed-state-layer-color: #045560 !important;
    --mdc-checkbox-selected-checkmark-color: #045560   !important;
    --mdc-checkbox-selected-focus-icon-color: #fff !important;
    --mdc-checkbox-selected-focus-state-layer-opacity: 0 !important;
  }
}
